extends layout

block content
  .row
    .card-deck.col-md-12
      .card
        .card-body
          h5 Konto &amp; Rechnungen
          .statusline
            .status.confirm= "Guthaben: "+intl.format(balance.amount/10000)
      .card
        .card-body
          h5 Nummern &amp; Standorte
          .statusline
            .status= `${phoneNumbers.length} Rufnummer${phoneNumbers.length>1?"n":""}`
            .status= `${addresses.length} Standort${addresses.length>1?"e":""}`
        if unverifiedCount>0
          .card-footer.bg-warning= `${unverifiedCount} Standort${unverifiedCount>1?'e':''} noch nicht verfiziert`
      .card
        .card-body
          h5 Benutzer &amp; Gruppen
          .statusline
            .status= `${users.length} Benutzer`
            .status= `${groups.length} Gruppen`
      .card
        .card-body
          h5 Blacklist
          .statusline
            .status= `${blacklist.length} gesperrte Nummern`